@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.background-image {
  width: 100%;
  z-index: -99;
}

.container-wrapper {
  position: relative;
  z-index: 99;
}


/* HEADER SECTION */

.header-section {
  z-index: 999;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  padding: 10px 0 30px 0;
  background-color: rgba(0, 0, 0);
}


.header-section__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-section__brand {
  margin-top: 20px;
}

.header-section__username {
  font-family: 'Beau Rivage', cursive;
  color: #fff;
  font-weight: 900;
  font-size: 32px;

}

.header-section__username:hover {
  color: #fff;
}

.header-section__nav>ul {
  padding-top: 20px;
  display: flex;
  grid-gap: 50px;
}

.header-section__nav-link {
  color: #fff;
  font-size: 20px;
  text-shadow: 4px 4px 2.5px #00aeff;
}

.header-section__nav-link:hover {
  color: #fff;
  transition: all .3s ease-out;
  transform: translateY(-10px);
}

/* HOME SECTION */
.home-section {
  margin-top: -550px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .5));
  font-size: 80px;
  font-weight: 800;
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  font-family: serif;
  position: relative;
  display: inline-block;
  letter-spacing: 10px;
  color: #fff;
  align-items: center;
  /* text-transform: uppercase; */
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
  text-shadow: 6px 6px 3px #00aeff;

}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

.typing {
  text-align: center;
  font-size: 47px;
  margin-top: 80px;
  color: #fff;
  text-shadow: 5px 5px 3px #00aeff;
}

.angle-down {
  display: flex;
  justify-content: center;
}

/* ABOUT ME */

.about-me__section {
  margin-top: 300px;
}

.about-me__section-title h1 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-weight: 700;
  font-size: 54px;
  color: #fff;
  text-shadow: 4px 4px 3px #00aeff;
}

.about-me__section-info {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 50px;
  align-items: center;
}

.about-me__section-img img {
  border-radius: 50%;
  width: 350px;
}

.about-me__section-description {
  font-family: serif;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

/* PORTFOLIO SECTION */

.portfolio-section__items {
  margin-top: 100px;
}

.portfolio-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-section__item {
  background-color: rgb(255, 255, 255, .7);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 50px;
}

.portfolio-section__item-name h2 {
  color: #000;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.portfolio-section__item-img {
  overflow: hidden;
}

.portfolio-section__item-img img {
  width: 500px;
  /* border-radius: 8px; */
}

.portfolio-section__item-img img:hover {
  animation: imgHover 1s infinite;
}

@keyframes imgHover {
  50% {
    transform: scale(1.1);
    transition: all .5s;
  }

  100% {
    transform: scale(1);
    transition: all .5s;
  }
}

.portfolio-section__item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  grid-gap: 10px;
}

.view-project__btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.view-project__btn:hover {
  background-color: #24863b;
  color: #fff;
}

.github-repo__btn {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.github-repo__btn:hover {
  background-color: #000;
  color: #fff;
}

.portfolio-section__item-techs {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin-top: 20px;
}

.portfolio-section__item-techs img {
  width: 30px;
}

/* CONTACT */

.contact-section {}

.contact-section__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin-top: 100px;
}

.contact-section__socials i {
  font-size: 30px;
  color: #000;
  border-radius: 50%;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 100px;
  border: 1px solid #fff;
  height: 62px;
}

.contact-section__socials i:hover {
  animation: socials 1s infinite;
}

@keyframes socials {
  50% {
    box-shadow: 0px 0px 10px 8px rgb(164, 226, 255);
  }

  100% {
    box-shadow: none;
  }
}


@media only screen and (max-width: 1024px) {
  .portfolio-section__item-img img {
    width: 400px;
    /* border-radius: 8px; */
  }

  .home-section {
    margin-top: -500px;
  }


}

@media only screen and (max-width: 915px) {
  .home-section {
    margin-top: -450px;
  }

  .portfolio-section__item-img img {
    width: 300px;
  }

  .about-me__section-info {
    flex-direction: column;
  }

  .typing {
    font-size: 37px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 822px) {
  .background-image {
    height: 70vh;
}

  .home-section {
    margin-top: -600px;
  }
}

@media only screen and (max-width: 770px) {

  .typing {
    font-size: 34px;
  }

}

@media only screen and (max-width: 540px) {

  .home-section {
    margin-top: -400px;
  }

  .background-image {
        height: 60vh;
  }

  .header-section {
    padding: 0 0 20px 0;
  }

  .header-section__wrapper {
    justify-content: start;
  }

  .header-section__username {
    font-size: 20px;
    margin: 0;
    margin-left: 50px;
  }

  .waviy {
    font-size: 42px;
  }

  .typing {
    font-size: 22px;
    margin-top: 40px;
  }

  .header-section__nav {
    display: none;
  }

  .about-me__section {
    margin-top: -50px;
  }

  .about-me__section-img img {
    margin-top: -20px;
    width: 250px;
  }

  .about-me__section-description {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
  }


  .portfolio-section__wrapper {
    flex-direction: column;
  }

  .portfolio-section__item-img img {
    width: 400px;
  }

  .portfolio-section__items {
    margin-top: 0;
  }

  .portfolio-section__item-name h2 {
    font-size: 20px;
  }

  .view-project__btn,
  .github-repo__btn {
    font-size: 12px;
  }

  .portfolio-section__wrapper {
    margin-top: 100px;
  }

}

@media only screen and (max-width: 420px) {

  .background-image {
    height: 40vh;
  }

  .header-section {
    padding: 10px;
  }

  .header-section__username {
    font-size: 16px;
  }

  .header-section__wrapper {
    margin-top: -20px;
  }

  .home-section {
    margin-top: -380px;
  }

  .typing {
    margin-top: 20px;
    font-size: 18px;
  }

  .about-me__section-description {
    font-size: 14px;
  }

  .portfolio-section__item-img img {
    width: 300px;
  }

  .contact-section__socials i {
    font-size: 24px;
    padding: 10px;
    height: 46px;
  }
}

@media only screen and (max-width: 380px) {
  .home-section {
    margin-top: -340px;
  }
}